<h1>Seja Bem-vindo!!</h1>
<p><strong>Data de Hoje: <%=data_br(Date.today)%></strong></p>

<%= render "menu"%>
<p>
    Você está em ambiente de <strong><%= ambiente_rails%></strong>
</p>

<p>
   Eu sou uma variavel de instancia/sessão <strong><%= @meu_nome%></strong>
</p>

<p>
   Meu curso é o de <strong><%= @curso%></strong>
</p>